
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: inherit;
}
strong, b {
  font-weight: 700;
}
body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #F7F7F2;
}
@media print {
  body {
    background-color: #fff;
  }
}
body::backdrop {
  background-color: #fafafa;
}

.uppy-Root {
    height: 300px !important;
}

.complete-overlay {
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform .8s ease-in-out;
    transform: scale(0.1);
}

.complete-overlay.show {
    opacity: 0.9;
    transform : scale(50);
    z-index: 10;
    position: absolute;
}

.copy-msg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: white;
    transform: scale(0.1);
    opacity: 0;
    flex-direction: column;
}

.copy-msg.show {
    z-index: 25;
    transform: scale(1);
    opacity: 1;
    transition: all .4s ease-in-out;
    transition-delay: 0.3s;
}

.copy-msg h1 {
    text-shadow: 0 8px 16px 0 rgba(56, 96, 165, 0.15);
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}